# Bot
pyfiglet
praw==6.1.1
pillow==5.4.1
asyncio==3.4.3
humanize==0.5.1
json-store-client==1.0.1
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
# Having this same commit accross local and hosting allows for no outdates local changes

# Server
Werkzeug
Flask==1.0.2
gunicorn==19.9.0