# Bot
pyfiglet
praw==6.1.1
dblpy==0.1.6
pillow==5.4.1
asyncio==3.4.3
humanize==0.5.1
json-store-client==1.0.1
git+https://github.com/Rapptz/discord.py@c30a366106f9d6114dcf38a31aed58dec6747054#egg=discord.py
# Having this same commit accross local and hosting allows for no outdates local changes

# Server
Werkzeug
Flask==1.0.2
gunicorn==19.9.0