# Bot
praw # Memey
dblpy # Periodic
pillow # Image
asyncio
humanize # Error handling
pyfiglet # Fun
json-store-client # Db requests
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py

# Server
Flask
gunicorn
Werkzeug