<!DOCTYPE html>
<html>
    <head>
        <title>404, this page doesn't exist</title>
        <link rel="icon" href="/static/icon.jpg">
        <style>
            body {background-color: rgb(1, 145, 1)}
            .center-div {
                position: absolute; margin: auto; overflow: auto;
                top: 0; right: 0; bottom: 0; left: 0;
                width: 525px; height: 165px;
                background-color: #01A300;
                border-radius: 3px; text-align: center;
                color: #EAE0C7; font-family: "Comic Sans MS", cursive, sans-serif}
        </style>
    </head>
    <body>
        <div class="center-div">
            <p style="float: left" ><img src="/static/icon.jpg" alt="icon" style="width:130px;height:130px"></p>
            <h2>[404] What are you doing?<h3>this page doesn't even exist lol</h3></h2>
            <p>Click <a href="/">here</a> to return home</p>
        </div>
    </body>
</html>