/* Variables */
:root {
    --font: "Comic Sans MS", cursive, sans-serif;
}

/* Main styling */
h1 {
    color: #EAE0C7;
    font-family: var(--font);
    text-align: center;
    background-color: #013300;
} p {
    color: #EAE0C7;
    font-family: var(--font);
    size: 200px;
} body {
    background-color: #01A300
} ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-family: var(--font);
    color: #EAE0C7;
} a {
    color: #EAE0C7;
    font-family: var(--font);
    size: 200px;
}

/* Navbar styling */
.navbar {
    background-color: #EAE0C7;
    position: fixed;
    top: 0;
    width: 100%
} .navbar img {
    float: left;
} .navbar a {
    float: left;
    display: block;
    color: #013300;
    font-family: var(--font);
    padding: 14px 16px;
    text-decoration: none;
} .navbar a:hover {
    background: #01A300;
    color: #EAE0C7;
}

/* Custom scrollbar (condensed) */
::-webkit-scrollbar {width: 10px}
::-webkit-scrollbar-track {background: #EAE0C7}
::-webkit-scrollbar-thumb {background: #01A300}
::-webkit-scrollbar-thumb:hover {background: #555}