<!DOCTYPE html>
<html>
	<head>
		<title>Savage Cabbage Bot</title>
        <meta content="Savage Cabbage's Website" property="og:title"><meta content="The ultimate hub for info about the bot, stats, the entire list of commands and more!" property="og:description"><meta content="{{website_homepage}}/static/icon.jpg" property="og:image"><meta name="theme-color" content="#01A300">		
		<link rel="icon" href="/static/icon.jpg"><link rel="stylesheet" type="text/css" href="/static/styling.css"><meta charset="UTF-8"><meta name="author" content="chocolatejade42"><meta name="keywords" content="Discord,SavageCabbage,Python,DiscordPy"><meta name="description" content="Savage Cabbage Discord Bot"><meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="navbar">
			<img src="/static/icon.jpg" alt="icon" style="width:47.5px;height:47.5px">
			<a href="#home">Home</a>
			<a href="#info">Info</a>
			<a href="#stats">Commands</a>
			<a href="#cmds">Stats</a>
			<a href="#links">Links</a>
			<a href="invite" target="_blank" style="float:right">Invite</a>
			<a href="server-invite" target="_blank" style="float:right">Support Server</a>
		</div><br>
		
		
		<h1 id="home">Home</h1>
		<p>Welcome to the official website for <b>Savage Cabbage#3666</b>. Here is a list of all the commands, as well as useful info and links</p>


		<h1 id="info">Info</h1>
		<p>Savage Cabbage was developed by <a href="https://github.com/aiden2480" target="_blank">chocolatejade42</a> and started development on the 22<sup>nd</sup> of September 2018. The last update was <b>{{run_time}}</b> AEST.</p>
		<p>Use <u>$autoroast</u> in a channel that the bot has access in to get randomly generated quotes, such as this one: <b>{{choice_roast}}</b>.</p>
		

		<h1 id="stats">Stats</h1>
		<p>Uptime stats and error logs can be viewed <a href="https://stats.uptimerobot.com/M1NrQcXJv/781037937" target="_blank">here</a>. This only shows stats from the last week though. Update logs and changes can be viewed <a href="logs" target="_blank">here</a>.</p>


		<h1 id="cmds">Commands</h1>
		<p>The different command types are: <b>{{", ".join(command_info.keys())}}</b> and thier various commands inclue;</p>
		
		<ul>{% for class in command_info %}
			<h4><b>{{class.upper()}} COMMANDS</b></h4>
			{% for command in command_info[class] %}
				<li>{{command[0]}}: {{command[1]}}</li>
			{% endfor %}
		{% endfor %}</ul>
		
		
		<h1 id="links">Links</h1>
		<p>Contact the developers by using the <b>$suggest</b> command in a DM or 
			<a href="server-invite" target="_blank">join the support server</a>.
		<p>View the bot update logs <a href="logs">here</a> and the source code <a href="{{source_code}}">here</a>.</p></p>
	</body>
</html>