<!DOCTYPE html>
<html>
    <head>
        <title>Join Savage Cabbage's help Server</title>
        <meta http-equiv="refresh" content="1; URL=https://discord.gg/AJj45Sj"/>
        <link rel="icon" href="/static/icon.jpg"><link rel="stylesheet" type="text/css" href="/static/styling.css"><meta charset="UTF-8"><meta name="author" content="chocolatejade42"><meta name="keywords" content="Discord,SavageCabbage,Python,DiscordPy"><meta name="description" content="Savage Cabbage Discord Bot">
    </head>
    <body>
        <h1>Redirecting</h1>
    </body>
</html>