h1 {
    color: #EAE0C7;
    font-family: "Comic Sans MS", "cursive", "sans-serif";
    text-align: center;
    background-color: #013300
} p {
    color: #EAE0C7;
    font-family: "Comic Sans MS", "cursive", "sans-serif";
    size: 200px
} body {
    background-color: #01A300
} .navbar {
    background-color: #EAE0C7;
    position: fixed;
    top: 0;
    width: 100%
} .navbar img {
    float: left
} .navbar a {
    float: left;
    display: block;
    color: #013300;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 14px 16px;
    text-decoration: none
} .navbar a:hover {
    background: #01A300;
    color: #EAE0C7
}